<h1 class="title">Company Login</h1>
<form #loginForm="ngForm" (ngSubmit)="login()">
  <mat-form-field>
    <input matInput autofocus placeholder="Email" required [(ngModel)]="model.email" name="email" type="email" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" required [(ngModel)]="model.password" name="password" type="password" />
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-checkbox [(ngModel)]="save" name="save">Remember me</mat-checkbox>
    <a href="#" class="btn">Forget password?</a>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between" class="commands">
    <button mat-raised-button color="accent" [disabled]="!loginForm.valid || loading">
      <div fxLayout="row" fxLayoutAlign="center center">
        Login
        <mat-spinner matPrefix *ngIf="loading" diameter="15"></mat-spinner>
      </div>
    </button>
  </div>
  <div class="commands"fxLayout="row" fxLayoutAlign="space-between center">
    <a class="btn" routerLink="/auth/register">Register</a>
    <a href="#">Terms & Conditions</a>
  </div>
</form>